name: Chrome Extension upload & publish
on:
  release:
    types:
      - created

jobs:
  deploy-to-chrome:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download extension zip
        uses: actions/download-artifact@v2
        with:
          name: dimwishlistbuilder
      - name:  Upload to Chrome Web Store
        uses: Passiverecords/chrome-extension-upload-action@1.4.1
        with:
          refresh-token: '${{ secrets.CHROME_WEBSTORE_API_REFRESH_TOKEN }}'
          client-id: '${{ secrets.CHROME_WEBSTORE_API_CLIENT_ID }}'
          client-secret: ''
          file-name: './DIMWishlistBuilder.zip'
          app-id: 'glmoclbimdhkcojkbkkkppommhopldif'
          publish: true
