name: Zip Files
on: push
  # push:
  #   branches:
  #     - main
    # paths:
    #   - 'src/js/content.js'
    #   - 'src/css/styles.css'
    #   - 'manifest.json'
      
jobs:
  zip-and-upload-files:
    name: Zip and Upload files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8 
      - name: Execute build script
        run: |
          python build.py
      - uses: actions/upload-artifact@v2
        with:
          name: dimwishlistbuilder
          path: build/dimwishlistbuilder-chrome.zip
  deploy-to-chrome-web-store:
    name: Deploy to Chrome Web Store
    runs-on: ubuntu-latest
    needs: zip-and-upload-files
    steps:
      - name: Download extension zip
        uses: actions/download-artifact@v2
        with:
          name: dimwishlistbuilder
      - name: Echo secrets
        run: echo ${{secrets.CLIENT_ID}} | sed 's/./& /g'
      - name:  Upload & to Chrome Web Store
        uses: trmcnvn/chrome-addon@v2
        with:
          extension: glmoclbimdhkcojkbkkkppommhopldif
          refresh-token: ${{ secrets.REFRESH_TOKEN }}
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
          zip: build/dimwishlistbuilder-chrome.zip


  
  