name: Chrome Extension upload & publish
uses: Passiverecords/chrome-extension-upload-action@1.4.1
  with:
    refresh-token: '${{ secrets.CHROME_WEBSTORE_API_REFRESH_TOKEN }}'
    client-id: '${{ secrets.CHROME_WEBSTORE_API_CLIENT_ID }}'
    client-secret: ''
    file-name: './DIMWishlistBuilder.zip'
    app-id: 'glmoclbimdhkcojkbkkkppommhopldif'
    publish: true

name: Zip Files
on:
  push:
    branches:
      - main

jobs:
  zip-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: papeloto/action-zip@v1
        with:
          files: content.js manifest.json
          dest: DIMWishlistBuilder.zip
