name: Zip Files
on:
  push:
    branches:
      - main
    # paths:
    #   - 'content.js'
    #   - 'manifest.json'
      
jobs:
  zip-and-upload-files:
    name: Zip and Upload files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2     
      - uses: actions/upload-artifact@v2
        with:
          name: dimwishlistbuilder
          path: |
            content.js
            manifest.json
      - name: Download extension zip
        uses: actions/download-artifact@v2
        with:
          name: dimwishlistbuilder
          path: dimwishlistbuilder.zip      
      - name:  Upload to Chrome Web Store
        uses: mnao305/chrome-extension-upload@1.1.1
        with:         
          file-path: dimwishlistbuilder.zip
          extension-id: 'glmoclbimdhkcojkbkkkppommhopldif'
          client-id: ${{ secrets.CLIENT_ID }}
          client-secret: 'test'
          refresh-token: ${{ secrets.REFRESH_TOKEN }}



  
  